Header set Access-Control-Allow-Origin "*"
<Limit PUT DELETE>
	AuthUserFile /app/.htpasswd
	AuthType Basic
	AuthName "Simply store"
	Require valid-user
	
	RewriteEngine on
	RewriteBase /
	RewriteCond %{REQUEST_METHOD} PUT [NC]
	RewriteCond %{REQUEST_URI} !^/put.php$
	RewriteRule ^(.*)$ /put.php [L,PT]
</Limit>
DirectoryIndex index.html index.php
FallbackResource  /lookup.php
Options +Indexes
